@charset "ISO-8859-1";
/* #68a869 */
:root {
	--theme-color: #084298;
	--accent-color:#a0b6d5;
	--accent-10:#cfd4e2;
	--white-color: #FFFFFF;
	--txt-color: #555;
	--black-color: #000000;
}

body {
  font-size: 0.875rem;
  font-family: "Open Sans", "Caveat","Roboto", sans-serif;
  font-weight: initial;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
}

a {
	text-decoration: none;
	color: var(--black-color);
}

a:hover {
	text-decoration: none;
	color: var(--black-color);
}

.menu-back{
	background-color: var(--theme-color);
	clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

nav {
	display:flex;
	justify-content:space-between;
	padding: 20px 5px;
	align-items: center;
}

nav > span {
	font-weight: bold;
    font-size: 20px;
}

nav a {
	color: var(--white-color);
}

nav a:hover {
	color: var(--white-color);
}

button {
	padding: 10px;
	border: solid 1px var(--accent-color);
    border-radius: 10px;
    background-color: var(--accent-color);
    color: var(--white-color);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

nav div a > button:hover {
	opacity: 80%;
}

nav div span {
	color: var(--accent-10);
	margin-right: 10px;
	font-family: 'Caveat';
    font-weight: bold;
    font-size: 25px;
}

.common-des-search {
	width: 40%;
    margin: auto;
    text-align: center;
}

.description {
    color: var(--white-color);
    padding: 10px;
    font-family: 'Open Sans';
    font-size: 25px;
    opacity:80%;
}

.search {
	padding: 20px 0px 50px;
}

.search > input {
	border: 0;
	border-radius: 10px;
    width: 80%;
    height: 40px;
    padding-left:5px;
    margin-right: 5px;
}

/* card */

.product-card {
    width: 300px;
    background-color: var(--white-color);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
}

.image-container {
    position: relative;
}

.image-container img {
    width: 100%;
    border-radius: 15px;
}

.product-info h2 {
    margin: 15px 0 10px;
    font-size: 14px;
    font-weight: bold;
}

.product-info p {
    font-size: 14px;
    color: var(--txt-color);
    height: 30px;
    max-height: 30px; 
}

.flx {
	display: flex;
    justify-content: space-between;
}

.tags {
    margin: 10px 0;
    align-items: center;
    gap: 2px;
}

.tag {
  	cursor:pointer;
    background-color:var(--accent-color);
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 10px;
}
.tag:hover {
  background-color:greenyellow;
}
.price-order {
    align-items: center;
    margin-top: 15px;
}

.price {
    font-size: 24px;
    font-weight: bold;
}

.order-button {
    background-color: var(--black-color);
    color: var(--white-color);
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 12px;
}

.order-button:hover {
    opacity:70%;
}

.product-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.details{
	font-weight: 500;
}

/* Details */
.img-container{
	float:left;
	margin:5px;
	padding:5px;
	width:250px;
}






