<!DOCTYPE html>
<html lang="en" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
		
<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/main.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="/img/favicon.png" />	
</head>
<body >

<div class="menu-back mb-4">
	<div class="container-fluid">
		<nav>
			<span><a th:href="@{/}"  th:text="#{app.name}"></a></span>
			<div>
				<span>Publish an event </span>
				<a th:href="@{/account/login}">
				<button type="button">Login / Register</Button>
				</a>
				
			</div>
		</nav>
		
		<div class="common-des-search description">Find your favourite and nearest event</div>
		<div class="common-des-search search"><input type="text" name"search" value="" /> <button type="submit">Search</button></div>
	</div>
</div>
<div class="container">	
	<div class="container" th:replace="~{card::card}"></div>
</div>

</body>
</html>